@use '../../../../styles/colors' as *;
.input-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.input-container input {
  width: 100%;
  padding: 16px 12px;
  font-size: 14px;
  border: 1px solid $color-text-gray;
  border-radius: 8px;
  background: $color-white;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-container input:focus {
  outline: none;
  border-color: var(--input-focus-color, $color-primary-dark);
  box-shadow: 0 0 0 2px $color-purple-faint-40;
}

.input-container input::placeholder {
  color: $color-text-disabled;
  transition: color 0.3s;
}

.input-container input:focus::placeholder {
  color: $color-gray-mid2;
}
