@use '../../../../../styles/colors' as *;
.home-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: radial-gradient(circle at top, $color-bg-deep, $color-bg-base);
  color: $color-white;
}

.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;
  background: $color-bg-base;
}
