<div class="register-container">
  <div class="register-card">
    <!-- IZQUIERDA -->
    <div class="register-image">
      <app-logo />
      <h2>SavePoint</h2>
    </div>

    <!-- DERECHA -->
    <div class="register-form">
      <h1>Crea tu cuenta</h1>

      <form (ngSubmit)="register()">
        <app-input-field
          type="email"
          placeholder="Email"
          [(ngModel)]="email"
          name="email"
          [disabled]="loading"
        />

        <app-input-field
          type="password"
          placeholder="Contraseña"
          [(ngModel)]="password"
          name="password"
          [disabled]="loading"
        />

        @if (error) {
          <div class="error-box">
            <img src="/error.svg" alt="Error" />
            <span>{{ error }}</span>
          </div>
        }

        <button type="submit" [disabled]="loading" class="submit-btn">
          <span class="btn-text" [class.hidden]="loading"> Regístrate </span>

          @if (loading) {
            <span class="spinner"></span>
          }
        </button>

        <div class="divider">
          <span>o</span>
        </div>

        <app-google-button
        [disabled]="loading"
        (clicked)="loginWithGoogle()"
        />
      </form>
    </div>
  </div>
</div>
