<div class="login-container">
  <div class="login-card">
    <!-- IZQUIERDA -->
    <div class="login-image">
      <app-logo />
      <h2>SavePoint</h2>
    </div>

    <!-- DERECHA -->
    <div class="login-form">
      <h1>Iniciar sesión</h1>

      <form (ngSubmit)="login()">
        <app-input-field
          type="email"
          placeholder="Email"
          [(ngModel)]="email"
          name="email"
          [disabled]="loading"
        />

        <app-input-field
          type="password"
          placeholder="Contraseña"
          [(ngModel)]="password"
          name="password"
          [disabled]="loading"
        />

        <div class="forgot-password">
          <a (click)="forgotPassword()">¿Olvidaste tu contraseña?</a>
        </div>

        @if (error) {
          <div class="error-box">
            <img src="/error.svg" alt="Error" />
            <span>{{ error }}</span>
          </div>
        }

        @if (successMessage) {
          <div class="success-box">
            <span>{{ successMessage }}</span>
          </div>
        }

        <button type="submit" [disabled]="loading" class="submit-btn">
          <span class="btn-text" [class.hidden]="loading"> Entrar </span>

          @if (loading) {
            <span class="spinner"></span>
          }
        </button>

        <div class="divider">
          <span>o</span>
        </div>

        <app-google-button [disabled]="loading" (clicked)="loginWithGoogle()" />
      </form>
    </div>
  </div>
</div>
